@import './variables.scss';
@import './mixin.scss';
@import './initialize.scss';

/* 超小设备（手机，小于 768px）*/
/* Bootstrap 中默认情况下没有媒体查询 */

/* 小型设备（平板电脑，768px 起）*/
// @import url('./screensm.scss') screen and (min-width: $screen-sm);

// /* 中型设备（台式电脑，992px 起）*/
// @import url('./screenMd.scss') screen and (min-width: $screen-md);

/* 大型设备（大台式电脑，1200px 起）*/
// @import url("./screenLg.scss") screen and (min-width: $screen-lg);

body:before,
body:after {
  display: table;
  content: " ";
}